@{
    ViewData["Title"] = "Create Announcement";
}

@model NIDashboard.Models.Post.NewPostModel
<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
</head>
<h1>New Announcement for @Model.SectionName</h1>

<form asp-action="AddPost" method="post" id="addPostForm">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" placeholder="Title here" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" placeholder="Write your announcement here." class="form-control" id="editor"></textarea>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    ckfinder: {
                        uploadUrl: '/Post/UploadImage'
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
    </div>
    <div class="form-group">
        <label asp-for="Tags"></label>
        <input asp-for="Tags" placeholder="Tags" class="form-control" />
    </div>
    <button type="submit" id="submitPostBtn" class="btn btn-outline-primary">
        Submit Post
    </button>
    <input asp-for="SectionId" type="hidden" />
</form>
