@{
    ViewData["Title"] = "Create Announcement";
}

@model NIDashboard.Models.Post.NewPostModel

<h1>New Announcement for @Model.SectionName</h1>

<form asp-action="AddPost" method="post" id="addPostForm">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" placeholder="Title here" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" rows="10" placeholder="Write your announcement here." class="form-control"></textarea>
    </div>
    <button type="submit" id="submitPostBtn" class="btn btn-outline-primary">
        Submit Post
    </button>
    <input asp-for="SectionId" type="hidden" />
</form>
