@{
    ViewData["Title"] = "Sections";
}
@model NIDashboard.Models.Section.SectionIndexModel

<h1 class="display-4">Sections</h1>

@if (Model.Sections.Any())
{
    @if (User.IsInRole("HOD") || User.IsInRole("Teacher"))
    {
        <a asp-controller="Section" asp-action="Create" class="btn btn-outline-primary col-auto">
            <i class="fas fa-plus-square"></i> New Section
        </a>
    }
    <p/>
    <table class="table table-hover" id="sectionIndexTable">
        <tbody>
            @foreach (var listingModel in Model.Sections)
            {
                <tr>
                    <td>
                        <a asp-controller="Section" asp-action="Topic" asp-route-id="@listingModel.Id">
                            @listingModel.Title
                        </a>
                    </td>
                    <td>
                        @listingModel.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

}

