@{
    ViewData["Title"] = "Sections";
}
@model NIDashboard.Models.Section.SectionIndexModel

<h1>Sections</h1>

@if (Model.Sections.Any())
{
    @if (User.IsInRole("HOD") || User.IsInRole("Teacher"))
    {
        <a asp-controller="Section" asp-action="Create" class="btn btn-outline-primary col-auto">
            <i class="fas fa-plus-square"></i> New Section
        </a>
        <p/>
    }
    <div class="d-flex flex-wrap">
        @foreach (var listingModel in Model.Sections)
        {
            <a class="sectionTitle text-decoration-none" asp-controller="Section" asp-action="Topic" asp-route-id="@listingModel.Id">
                <div class="sectionContainer">
                    <div>
                        @listingModel.Title
                    </div>
                    <hr />
                    <div class="sectionSubTitle">
                        @listingModel.Description
                    </div>
                </div>
            </a>
        }
    </div>
}
else
{
    <div class="noPost">
        <h3>
            Wow such empty! <br />
            Why not
            <a class="text-decoration-none" asp-controller="Section" asp-action="Create">
                <span>create</span>
            </a>
            one?
        </h3>
    </div>
}

